#bg{
  background: url(https://cdn.discordapp.com/attachments/707356095286607962/959271050481397820/vigilanciaFerreterias.png);
  background-image: url(https://cdn.discordapp.com/attachments/707356095286607962/959271050481397820/vigilanciaFerreterias.png);
  background-size: cover;
  width: 100%;
  height: 700px;

}
