#bg{
  background: url(https://cdn.discordapp.com/attachments/910206256176857088/959258205551214592/ferreteria.png);
  background-image: url(https://cdn.discordapp.com/attachments/910206256176857088/959258205551214592/ferreteria.png);
  background-size: cover;
  width: 100%;
  height: 550px;

}
